<html>

<head>
<title>Logistic Regression Model</title>
</head>

<body>
<header> Logistic Regression Model </header>
<p>This it the the second project to demonstrate Xiaoxiao Liu as a qualified candidate for a potential employment with your institution.</p>

<!--begin.rcode
training.data.raw <-read.csv("Desktop/New Portfolio /GLM /train_and_test2.csv")
sapply(training.data.raw,function(x) sum(is.na(x)))
sapply(training.data.raw,function(x) length(unique(x))
end.rcode-->

<!--begin.rcode

end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
